<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hello>
            <general>
                <title>Hello World</title>
                <content>This's default content</content>
            </general>
        </hello>
    </default>
</config>